{% extends 'context/user/layout/base_user.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1>Profile</h1>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <user-card
                    data-id="{{ user.id }}"
                    data-username="{{ user.username }}"
                    data-email="{{ user.email }}"
                    data-status="{{ user.status }}"
            >
                {{ user.username }}
            </user-card>
        </div>
    </section>
{% endblock %}